backcall==0.1.0
bleach==3.1.0
colorama==0.4.1
defusedxml==0.5.0
entrypoints==0.3
ipykernel==5.1.0
ipython==7.4.0
ipywidgets==7.4.2
jedi==0.13.3
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
mistune==0.8.4
nbconvert==5.4.1
notebook==5.7.6
pandocfilters==1.4.2
parso==0.3.4
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
py4j==0.10.7
pygments==2.3.1
pyramid-arima==0.9.0
pyspark==2.4.0
pywinpty==0.5.5
pyzmq==18.0.1
qtconsole==4.4.3
send2trash==1.5.0
terminado==0.8.1
testpath==0.4.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2